@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.scrollTop {
    position: fixed; 
    width: 100%;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

.site-logo{
    width: 450px;
}
.home-screen{
    display: flex;
    background-color: #FFFFFF;
    height: 100vh;
    padding: 5.5rem;
    opacity: 0.95;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: auto;
    text-align: center;
}



.home-screen > div > div> h1 {
    color: #A2D74B;
    font-size: 40px;
    font-family: 'Open sans';
    font-weight: 700;
    letter-spacing: 1px;
}

.home-screen > div > div > p{
    font-family: 'Lato';
    font-size: 28px;
    color: lightgrey;
    text-align: center;
}  


.home-center-info {
    background-color: black;
    opacity: 0.65;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    margin-top: 2rem;
}


.top-social-icons{
    display: flex;
    gap: 1rem;
}

.social-media-icon{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
/*********************************************************************/

.header-container{
    height: 4.5rem;
    display: flex;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.navbar-container{
    display: flex;
    margin-right: 2rem;
}

@media screen and (max-width: 700px){

    .site-logo{
        width: 385px;
    }
    .header-container{
        display: flex;
        justify-content: center;
    }
    .navbar-container{
        display: none;
        /* display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row; */
    }
    
}

.nav-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    padding: 1.5rem 1.5rem;
    cursor: pointer;
    list-style-type: none;
}

.nav-item-container > li > a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family:  Arial, Helvetica, sans-serif;
    color: lightgrey;
    letter-spacing: 1px;
}


.nav-item-container > li > a:hover{
    color: white;
}














.section-title{
    text-align: center;
    padding: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.section-title > h1{
    color: #022575;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 2px;
}

.section-title > span{
    color: #716E7D;
    font-size: 20px;
}


/*****************************************************************/

.contact-card{
    border: none;
}

.label-fonts{
    font-size: 18px;
    font-family: 'Open sans';
    margin-bottom: 0.5rem;
    color: gray;
    font-weight: 500;
    letter-spacing: 1px;
}



.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}


.contact-container > div > ul > li{
    border: none;
}


.contact-container > div > ul > li > div{
    display: flex;
    align-items: center;
}

.contact-container > div > ul > li > span {
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 1px;
    color: #686E7D;
}

.contact-container > div > ul > li > h4{
    font-family: 'Lato';
    font-size: 20px;
    color: #686E7D;
}


.contact-icon-address{
    color: red;
    font-size: 2rem;
    margin-right: 1rem;
}

.contact-icon-email{
    color: #2AC2B8;
    font-size: 2rem;
    margin-right: 1rem;
}

.contact-icon-phone{
    font-size: 2rem;
    margin-right: 1rem;
}


.contact-image{
    width: 16rem;

}

.contact-form{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}


.submit-btn{
    width: 100%;
    height: 3rem;
    background-color: #FF5100;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px
}

@media screen and (max-width: 700px){
    .contact-form{
        width: 100%;
    }
    
}

/************************************************************/


.form-errors{
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    font-family: 'Roboto';
    letter-spacing: 1px;
    margin-top: 2px;
}

.footer-container{
    height: 4rem;
    background-color: black;
    opacity: 0.8;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container > div {
    color: lightgray;
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 2px;
}