
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


.scrollTop {
    position: fixed;
    bottom: 10px;
    right: 0;
    font-size: 3rem;
    align-items: center;
    height: 3rem;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    color: yellow;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }


  .logo-icon{
      font-size: 2rem;
      color: #7087FF;
  }
  
.site-logo{
   display: flex;
   align-items: center;
   color: #012970;
   font-weight: 500;
   text-decoration: none;
   font-family: 'Niconne', cursive;
   transition: all ease-in-out 0.3s;
}

.site-logo:hover{
    color: #4154F1;
    transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 800px) {
    .site-logo{
        font-size: 16px;
    }
    
}

.section-title{
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.section-title > h1{
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
}

.section-title > span{
    color: #666666;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}




.home-screen{
    display: flex;
    min-height: 95vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(170deg, white 50%, #94D600);
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.home-img{
    width: 40rem;
}


.home-screen > div > div> h1 {
    font-size: 62px;
    font-family: "Open Sans";
    font-weight: 600;
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
}

.home-screen > div > div > p{
    font-family: 'Open Sans', cursive;
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
}  

.home-screen > div > div > span{
    font-family: 'Comic sans', cursive;
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    text-align: center;
}  


.home-center-info {
    width: auto;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}


.top-social-icons{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.social-media-icon{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.social-media-icon:hover{
    transition: all 0.2s ease-in-out;
    color: #94D600;
}

@media screen and (max-width: 800px) {
    .home-screen{
        height: auto;
    }
    
}

.home-btn{
    margin-top: 1rem;
    background-image: linear-gradient(to left bottom, #94D600, #1b262c);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: white;
}

.follow-me-text{
    color: lightgray;
    margin-right: 1rem;
}


/*********************************************************************/


.btn-login{
    background-color: yellowgreen;
    padding: 6px;
    border-radius: 5px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 90px;
    font-size: 15px;
    font-family: "Nunito",sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-name{
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
}

.profile-icon{
    color: white;
    font-size: 1.5rem;
}



@media screen and (max-width: 800px){

    .header-container{
        flex-direction: column;
    }

    .header-right{
        margin-left: 0;
    }

    .header-top{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon{
        font-size: 2rem;
        display: block;
        color: white;
        cursor: pointer;
        position: fixed;
        background-color: #1B262C;
        top: 2%;
        right: 4%;
        z-index: 3000;
    }

    .nav-menu{
        width: 100%;
        height: auto;
        display: none;
        position: relative;
        margin: 0;
        border-radius: 5px;
        padding: 1rem;
        z-index: 2;
        flex-direction: column;
        transition: all ease-in-out 0.5s;
    }

    .nav-left{
        border-bottom: 1px solid lightgray;
        padding-bottom: 1rem;
    }

    .nav-left,.nav-right{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }


    .menu-item{
        padding: 0.75rem 0;
    }

    .menu-item:hover{
        background-color: #1B262C;
    }
    
    .nav-menu.active{
        display: block;
        row-gap: 1rem;
        transition: all ease-in-out 0.5s;
    }
    
    .home-center-info{
        padding: 2rem 2rem;
    }

    .top-social-icons{
        margin-top: 1rem;
    }
}

.btn-down-icon{
    font-size: 16px;
    margin-right: 0.5rem;
}

/********************************************************************/

.about-container{
    width: 100%;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    min-height: 95vh;
}

.about-description{
    color: gray;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', cursive;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 2rem;
}

.skill-img{
    width: 10rem;
    transition: all ease-in-out 0.2s;
}

.skill-img:hover{
    transform: scale(1.25);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.tech-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}


/*********************************************************************/

.services-container{
    height: auto;
    width: 100%;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.services-section{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.service-card-main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    align-items: center;
}

.service-title{
    color: #666666;
    font-size: 20px;
}

.service-img{
    width: 64px;
}

.service-desc{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
    

/*****************************************************************/

.project-section{
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.project-card{
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    background-color: white;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    gap: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.project-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.project-thumbnail{
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
}

.project-name{
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    color: #666666;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.project-name:hover{
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
    transition: all ease-in-out 0.3s;
}

.project-desc{
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(#94D600, #1B262C);
    background-clip: text;
    color: transparent;
}

.project-btn-links{
    color: white;
    text-decoration: none;
}

.project-btn-links:hover{
    color: white;
}

.project-card:hover{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    background-color: #FAFBFF;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/****************************************************************/
.project-info-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info-container{
    display: flex;
    padding: 1.5rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.info-left, .info-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.project-info-name{
    font-family: "Open Sans", sans-serif;
    color: #666666;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    margin-bottom: 1rem;
}

.project-lbl{
    color: #999999;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
}

.project-info-img{
    border-radius: 5px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-info-desc{
    font-family: "Open Sans";
    font-size: 16px;
    color: gray;
}

.info-icons{
    color: yellowgreen;
    font-size: 18px;
}

.project-info-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project-gal-img{
    width: 8rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 800px) {
    .project-info-container{
        height: auto;
    }

    .project-info-img{
        width: 100%;
        height: auto;
    }
    .info-container{
        align-items: flex-start;
    }
    
}
/******************************************************************/

.review-main-container{
    padding: 1.5rem;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}

.review-container{
    border: 1.5px solid #F0F0F0;
    max-width: 1400px;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    gap: 3rem;
}

.review-banner{
    padding: 1.5rem;
    background-color: #F0F0F0;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.review-icon{
    width: 3rem;
}

.review-banner > span{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}

.review-item-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem 0 1rem 0;
    align-items: flex-start;
    border-bottom: 1px solid #F0F0F0;
  
}

.review >span {
    font-family: "Fira Sans";
    color: gray;
}


@media screen and (max-width: 800px) {
    .review-container{
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
    
}


/****************************************************************/

.contact-section{
    padding-top: 1rem ;
    padding-bottom: 2rem;
    min-height: 95vh;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: 1.5px solid #F0F0F0;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
}

.contact-details{
    height: 12rem;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 18rem;
    padding: 1.5rem;
}

.contact-icons{
    color: #94D600;
    font-size: 2rem;
}

.contact-details > h4{
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #666666;
}

.contact-details > span {
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    color: #666666;
    font-weight: 500;
}


.contact-form{
    padding: 5px;
    padding-top: 1rem;
    border-radius: 5px;
    font-family: 'Open Sans';
    height: fit-content;
    border-radius: 5px;
    width: 30rem;
}


.submit-btn{
    width: 100%;
    height: 3rem;
    background-color: #4154F1;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    color: white;
    font-size: 18px
}

@media screen and (max-width: 700px){
    .contact-form{
        width: 100%;
    }
    
    .contact-details{
        width: 100%;
    }

    .contact-section{
        padding: 1rem;
    }
}

.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.social-media-container > div > h5{
    font-size: 20px;
    color: gray;
}


/************************************************************/


.form-errors{
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    font-family: "Open Sans";
    letter-spacing: 1px;
    margin-top: 2px;
}

.footer-container{
    padding: 15px 35px;
    background-color: #1B262C;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container > div {
    color: lightgray;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
}

.footer-left{
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-right{
    display: flex;
    gap: 10px;
}

.footer-icons{
    color: lightgray;
    font-size: 1.5rem;
    transition: all ease-in-out 0.3s;
}

.footer-icons:hover{
    color: white;
    transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 800px) {
    .footer-container{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
