@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:wght@700&display=swap');




.scrollTop {
    position: fixed;
    bottom: 10px;
    right: 0;
    font-size: 3rem;
    align-items: center;
    height: 3rem;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    color: #495CF2;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

  
.site-logo{
    width: auto;

}

.section-title{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 1rem;
    padding-top: 5.5rem;
    margin-bottom: 2rem;
}

.section-title > h1{
    color: #4154F1;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-title > span{
    color: #012970;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}




.home-screen{
    display: flex;
    height: 90vh;
    background: linear-gradient(60deg, white 20% , #F2F5FC);
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.home-img{
    width: auto;
    filter: drop-shadow(2px 2px 2px #4154F1);
}


.home-screen > div > div> h1 {
    color:#012970;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-screen > div > div > p{
    font-size: 25px;
    letter-spacing: 1px;
    color:#5F5F61;
    text-align: center;
}  


.home-center-info {
    width: auto;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.top-social-icons{
    display: flex;
    gap: 0.5rem;
    margin: 1rem 1rem;
}

.social-media-icon{
    color: #7952B3;
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}

.social-media-icon:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.5);
}

.social-media-icon1{
    color: lightgray;
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}

.social-media-icon1:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.5);
}

/*********************************************************************/

.header-container{
    height: 4.75rem;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
    top: 0;
    position: fixed;
    
}

.nav-menu{
    display: none;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-item-container{
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

.menu-item{
    padding: 1.5rem 1.5rem;
    transition: all ease-in-out 0.3s;
    
}

.menu-item > a{
    font-size: 16px;
    color: #022A71;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.menu-item >a:hover{
    color: #4154F1;
    transition: all ease-in-out 0.3s;
}

.btn-contact{
    background-color: #4154F1;
    color: white;
    width: 7rem;
    border: none;
    padding: 6px 6px;
    border-radius: 5px;
    font-family: 'Nunito';
    font-size: 17px;
}

.menu-icon{
    display: none;
    
}

.close-menu-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: right;
    padding: 1rem 1rem;
}

.close-menu{
    width: 100%;
    text-align: right;
}

.close-menu-icon{
    color: #022A71;
    font-size: 2rem;
    cursor: pointer;
}

.close-menu-icon:hover{
    color: #4154F1;
}

.menu-header{
    list-style-type: none;
}


@media screen and (max-width: 1100px){

    .home-screen{
        margin-top: 0;
    }

    .menu-container{
        display: none;
    }

    .menu-icon{
        font-size: 2rem;
        display: block;
        color: #022A71;
        margin-right: 1rem;
        cursor: pointer;
    }

    .nav-menu{
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        display: none;
        position: fixed;
        border-radius: 1rem;
        top: 0;
        right: 0;
        z-index: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        flex-direction: column;
    }
    
    .nav-menu.active{
        display: block;
    }
    
    .site-logo{
        width: 300px;
    }

    .home-screen{
        height: auto;
        padding-top: 10rem;
    }
    
    .home-center-info{
        padding: 2rem 2rem;
    }
    
}

.nav-item{
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    align-items: center;
    width: 100%;
    color: white;
    list-style-type: none;
}

.nav-item-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.nav-item-container > li > a{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #022A71;
    letter-spacing: 1px;
}


.nav-item-container > li > a:hover{
    color: #4154F1;
}


.home-btn{
    background-color: #4154F1;
    height: 3rem;
    width: 225px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    margin: 1rem 1rem;
}

.home-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-down-icon{
    font-size: 18px;
    margin-right: 0.5rem;
}

/********************************************************************/

.about-container{
    width: 100%;
}

.about-description{
    color: gray;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 2rem;
}

.skill-container{
    display: flex;
    flex-direction: column;
}

.pro-lang{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pro-icons{
    font-size: 4rem;
    color: #022A71;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.pro-icons:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}


/*********************************************************************/




.services-container{
    height: auto;
    padding-bottom: 2rem;
    
}


.services-section{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.services-section > h1{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 28px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.services-section > span{
    font-weight: 500;
    margin-top: 1rem;
    font-size: 18px;
    letter-spacing: 2px;
    color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.service-card-main-container{
    display: flex;
    justify-content: center;
}
.services-card-container{
    color: #414047;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.serve-img{
    width: 32rem;
}

.service-icons{
    cursor: pointer;
    margin-bottom: 1rem;
}

.service-card{
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    width: 22rem;
    height: 12rem;
    border-radius: 5px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.service-card > h4{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    color: #5F5F61;
    font-family: 'Nunito';
}

.service-card:hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 800px){

    .service-card-main-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-card{
        width: 85%;
    }

    .serve-img{
        width: 90%;
    }

}
    


/*****************************************************************/

.project-section{
    padding-bottom: 5rem;
}
.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.project-card{
    width: 22rem;
    height: min-content;
    transition: all ease-in-out 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.project-card:hover{
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.pro-title{
    color: #012970;
    font-family: 'Nunito';
    font-size: 24px;
}

.pro-text{
    color: #444444;
    font-size: 16px;
    font-family: 'Open Sans';
}

@media screen and (max-width: 800px){
    .pro-card-container{
        margin-bottom: 1rem;
    }
    .project-card{
        width: 85%;
    }

    .pro-image{
        width: 80%;
    }
}

/****************************************************************/

.contact-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.contact-details{
    background-color: #FAFBFF;
    width: 16rem;
    height: 12rem;
    padding: 1rem;
    border-radius: 5px;
}

.contact-details > ul > li {
    list-style-type: none;
}

.contact-details > ul > li > h4{
    color: #012970;
    font-family: 'Nunito';
    font-size: 24px;
}
.contact-icons{
    color: #4154f1;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 100;
}

.contact-details > ul > li > span{
    font-family: 'Open Sans';
    font-size: 14px;
    color: #444444;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 1rem;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.contact-card > div > h1{
    color: lightgray;
}

.contact-form{
    padding: 5px;
    padding-top: 1rem;
    background-color: #FAFBFF;
    border-radius: 5px;
    font-family: 'Open Sans';
    height: fit-content;
    border-radius: 5px;
    width: 30rem;
}


.submit-btn{
    width: 100%;
    height: 3rem;
    background-color: #4154F1;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    color: white;
    font-size: 18px
}

@media screen and (max-width: 700px){
    .contact-form{
        width: 100%;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.social-media-container > div > h5{
    font-size: 20px;
    color: gray;
}


/************************************************************/


.form-errors{
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    font-family: "Open Sans";
    letter-spacing: 1px;
    margin-top: 2px;
}

.footer-container{
    height: 7rem;
    background-color: #F6F9FF;
    border-top: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
}

.footer-container > div {
    color: #022A71;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 14px;
}

